
body {
    /* The image used */

    height: 100vh;
    background: url("../img/5.jpg") no-repeat center;
    background-size: cover;
    background-attachment: scroll

}
.iphone{
    width:169px;
    height:347px;
    background: url("../img/iphone-no-bg.png") no-repeat center;

}

.bg{
    width: 300px;
    height: 600px;
    background: url("../img/iphone-no-bg.png") no-repeat center;
    background-size: cover;
}